<!doctype html>
<head>
	<title>Dashboard</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<script src="jquery.js"></script>
	<script src="script.js"></script>
	<script src="index.js"></script>
	<script src="bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css" />
	<link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="material.min.css">
	<link rel="stylesheet" href="map.css">
	<script src="material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script type="text/javascript">
	var routes = [];
	$(function () {
		// initialize tooltips
		$('[data-toggle="tooltip"]').tooltip();
		routes = JSON.parse('<%- routes %>');
		options = JSON.parse('<%- options %>');
	})
	</script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=261875493852637";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<% include navbar.ejs %>
	<% include popup.ejs %>
	<div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOALyWOCCU8aeFjZkBGEKywc9VnSQlg74&callback=initMap">
    </script>
</body>
</html>
